node_modules
dist
.dist
/docs
packages/gateway-sw-core/docs
*.log
.DS_Store
.env
.env.*
!.env.example
!packages/*/.env.development
!packages/*/.env.example
!packages/*/.env.production
!packages/*/.env.test
coverage
playwright-report
test-results
.vite
